/* Color Palette adapted from: http://www.colourlovers.com/palette/129595/Chocolate_Labrador   */
body {
  background-color: #F7EDBF; /*Potato Chip, by groutboy*/
}

h1 {
  color: #58351A; /*Warm Chocolate, by LJK*/
}

table {
  border-collapse: collapse;
  text-align: left;
  /*width: 70%;*/
  height: 50px;
}

th {
  text-decoration: underline;
  font-weight: bold;
  background-color: #382313; /*Dark Chocolate, by LJK*/
  /*background-color: #58351A; /*Warm Chocolate, by LJK*/
  color: #F7EDBF; /*Potato Chip, by groutboy*/
  /*color: #382313; /*Dark Chocolate, by LJK*/
}

th, td {
  width: 100px;
}

tr:nth-child(even) {
  background-color: #F1EED9; /*Cool Vanilla, by LJK*/
  color: #2E221F; /*Cocoa Bean, by LJK*/
}

tr:nth-child(odd) {
  background-color: #58351A; /*Warm Chocolate, by LJK*/
  /*background-color: #2E221F; /*Cocoa Bean, by LJK*/
  color: #F1EED9;
}

td:hover {
  text-decoration: underline;
  font-weight: bold;
  background-color: #2E221F; /*Cocoa Bean, by LJK*/
  color: #F7EDBF; /*Potato Chip, by groutboy*/
}
